name: Blog App CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t blog-app .

      - name: Run container test
        run: |
          docker run -d -p 8080:80 --name blog-app blog-app
          sleep 5
          docker ps
          docker stop blog-app
          docker rm blog-app
